div{
  .grid {
    gap: 2rem;   /* espaçamento horizontal e vertical */
  }


  .card-title {
    height: 3.5rem;
  }

  .card {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow:
            var(--bulma-card-shadow),
            0 0 0 3px $blue; /* 3px “borda” externa  #00d1b2*/
  }
}


