// Set your brand colors
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$blue: #00d1b2;


// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Work Sans", Helvetica, sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $blue,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the components you need
@forward "bulma/sass/base";
@forward "bulma/sass/components/card";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/layout/footer";

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
