// Variáveis Sass para Bulma
$primary-color: #8a4d76;
$link-color: #fa7c91;
$grey-dark-color: #757763;
$grey-light-color: #d0d1cd;
$beige-lighter-color: #eff0eb;

// Variáveis CSS custom properties para uso no CSS normal
:root {
  --primary-color: #8a4d76;
  --link-color: #fa7c91;
  --grey-dark-color: #757763;
  --grey-light-color: #d0d1cd;
  --beige-lighter-color: #eff0eb;

  --bg-color: #ffffff;
  --text-color: #000000;
  --font-size: 16px;
}

// Aplicando CSS custom properties no body para o JS alterar
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
}

// Importando Bulma com variáveis Sass
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $grey-dark-color,
  $grey-light: $grey-light-color,
  $primary: $primary-color,
  $link: $link-color,
  $control-border-width: 2px,
  $input-shadow: none
);

@forward "bulma/sass/base";
@forward "bulma/sass/components/card";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/layout/footer";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
